{{template "header"}}
{{template "admin_menu"}}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">文章</h1>
    <form>
        <div class="input-group">
            <span class="input-group-addon"  name="title">题目</span>
            <input type="text" class="form-control" id="title" aria-describedby="basic-addon1">
        </div>
        <br>
        <textarea id='editor' name="editor" style='color:#0000'></textarea>
        <br>
        <div class="input-group">
            <span class="input-group-addon" name="category" >标签</span>
            <input type="text" class="form-control" id="category" aria-describedby="basic-addon1">
        </div>
        <br>
    </form>
    <button class="btn btn-default" onclick="check_art()">发布文章</button>
</div>

<script type="text/javascript">
    $(function () {
        var $editor = $("#editor");
        $editor.markdown({
            height: 300,
            onShow: function () {
            },
            onPreview: function(e) {

            }
        });

    });

    function check_art() {
       var mdcode = $("#editor").val();
       var title = $("#title").val();
       var category = $("#category").val();
       if (mdcode==""){
            layer.msg('还没有文章内容哟❤️', {icon: 5, time:2000});
            return;
       }
       if (title==""||category==""){
           layer.msg('缺少了标题还是标签吧~_~', {icon: 5, time:2000});
           return;
       }
       var parser = new HyperDown;
       var htmlcode = parser.makeHtml(mdcode);
        $.ajax({
            type: 'POST',
            url: "./artcle/save_articlez",
            data: {
                mdcode: mdcode,
                title: title,
                category: category,
                htmlcode: htmlcode
            },
            success: function (re) {

            },
            dataType:"json"
        });

    }

</script>

{{template "admin_menu_end"}}